/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&display=swap");

/* VARIABLES CSS */
:root {
  /* Colors */
  --color-orange: #f16718;
  --color-orange-hover: #ff9b62;
  --color-blue: #162542;
  --color-blue-text: hsl(221, 23%, 58%);
  --color-grey: #e8eff2;
  --color-white: #ffffff;

  /* Typographya */
  --font-h1: 3.5rem;
  --font-h2: 2rem;
  --font-h3: 1.5rem;
  --font-body: 1rem;

  /* Font weight */
  --fw-medium: 500;
  --fw-black: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--color-blue);
}

img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20px;
  object-fit: cover;
  object-position: right;
}

a:link,
a:visited {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}
span {
  font-weight: 700 !important;
  color: var(--color-blue-text);
}
body {
  background-color: var(--color-white);
  color: var(--color-blue-text);
  font-family: sans-serif;
  position: relative;
  overflow-x: hidden;
}

/* Typograpya */
.font-h1 {
  font: var(--fw-black) var(--font-h1) / 1 "Barlow";
}
.font-h2 {
  font: var(--fw-black) var(--font-h2) / 1.12 "Barlow";
}
.font-h3 {
  font: var(--fw-black) var(--font-h3) / 1.17 "Barlow";
}
.font-body {
  font: var(--fw-medium) var(--font-body) / 1.62 "Barlow";
}
.uppercase {
  text-transform: uppercase;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 1rem 1.625rem;
  color: var(--color-white);
  border-radius: 8px;
}

.container {
  max-width: 1110px;
  margin: 0 2.5rem;
  margin-bottom: 40px;
}

@media (min-width: 1160px) {
  .container {
    margin: 0 auto;
  }
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0 83px;
}

.header__img {
  border-radius: 0;
  width: auto;
}

.btn-blue {
  background-color: var(--color-blue-text);
}

/* MAIN */
.keyboard__home {
  display: grid;
  /* grid-template-columns: 1.6fr 2fr; */
  grid-template-columns: 5fr 7fr;
  gap: 125px;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.keyboard__home::after {
  content: "";
  display: block;
  width: 255px;
  height: 240px;
  background: url(../img/shared/pattern-square.svg) no-repeat;
  position: absolute;
  top: 0;
  right: -285px;
}
.keyboard__title {
  color: var(--color-blue);
  margin-bottom: 1.5rem;
}
.keyboard__desc {
  font-size: 1.125rem;
  line-height: 1.44;
  margin-bottom: 2.5rem;
}
.btn-orange {
  background-color: var(--color-orange);
  margin-right: 40px;
}

.keyboard__intro {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 3fr 1fr;
  align-items: center;
  margin-bottom: 168px;
  gap: 125px;
  position: relative;
}
.keyboard__intro::after {
  content: "";
  display: block;
  width: 255px;
  height: 240px;
  background: url(../img/shared/pattern-square.svg) no-repeat;
  position: absolute;
  bottom: 0;
  left: -280px;
}
.keyboard__images {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 30px;
  position: relative;
}
/* .keyboard__images::after {
  content: "";
  display: block;
  width: 255px;
  height: 480px;
  background: var(--color-orange);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  mix-blend-mode: multiply;
  border-radius: 20px;
} */
.keyboard__phone,
.keyboard__glass {
  height: 480px;
}

.phone-bg {
  position: relative;
}

.phone-bg::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color-orange);
  mix-blend-mode: multiply;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.keyboard__title-bottom {
  margin-bottom: 27px;
  color: var(--color-blue);
}

.feactures {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(255px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  align-items: start;
  justify-items: center;
  column-gap: 30px;
  row-gap: 72px;
  margin-bottom: 128px;
}
.feactures__icon {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange);
  border-radius: 16px;
  /* padding: 20px; */
  margin-bottom: 48px;
}
.feactures__title {
  margin-bottom: 24px;
  max-width: 200px;
}
.feactures__desc {
  width: 255px;
}
.copy {
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .keyboard__home {
    /* grid-template-columns: 400px; */
    /* grid-template-columns: 360px 1fr; */
    gap: 70px;
    /* position: relative; */
  }
}

@media (max-width: 900px) {
  .container {
    margin-bottom: 43px;
  }
  .header {
    padding: 40px 0 122px;
  }
  .keyboard__home {
    /* grid-template-columns: 400px; */
    grid-template-columns: 360px 1fr;
    margin-bottom: 100px;
    /* position: relative; */
  }
  .keyboard__home::after {
    display: none;
  }
  .keyboard__text {
    /* width: 350px; */
    /* margin-right: 70px; */
  }
  .keyboard__img {
    position: relative;
    width: 478px;
    height: 425px;
    top: 0;
    right: 0;
  }
  .keyboard__title {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 34px;
  }
  .keyboard__desc {
    font-size: 1rem;
  }
  .btn-orange {
    margin-right: 37px;
  }

  .keyboard__intro {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 320px 1fr;
    align-items: center;
    gap: 72px;
    position: relative;
    margin-bottom: 142px;
  }
  .keyboard__images {
    grid-template-columns: 1fr 2fr;
  }
  .keyboard__phone,
  .keyboard__glass {
    height: 320px;
  }
  .keyboard__phone {
    background-position: center;
  }
  .keyboard__box {
    display: grid;
    grid-template-columns: 255px 1fr;
    align-items: center;
    gap: 36px;
  }

  .feactures__icon {
    margin-bottom: 40px;
  }
}

@media (max-width: 620px) {
  .container {
    margin: 0 1.5rem;
  }
  .header {
    padding: 23px 0 64px;
  }
  .btn-blue {
    padding: 11px 15px;
  }
  .keyboard__home {
    grid-template-columns: 1fr;
    gap: 64px;
    margin-bottom: 36px;
  }
  .keyboard__text {
    text-align: center;
    gap: 32px;
  }
  .keyboard__title,
  .keyboard__desc {
    margin-bottom: 32px;
  }
  .keyboard__img {
    position: relative;
    width: 100%;
    height: 331px;
  }
  .btn-orange {
    margin-right: 32px;
    padding: 11px 14px;
  }
  .keyboard__intro {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-content: center;
    gap: 63px;
  }
  .keyboard__images {
    grid-template-columns: 1fr 2fr;
    gap: 24px;
    /* position: relative;
    left: -46px; */
  }
  .keyboard__phone,
  .keyboard__glass {
    height: 193px;
  }

  .keyboard__phone {
    width: 100%;
  }
  .keyboard__title-bottom {
    margin-bottom: 0;
  }
  .keyboard__box {
    grid-template-columns: auto;
    gap: 24px;
    text-align: center;
  }
  .feactures {
    grid-template-columns: 1fr;
  }

  .feactures__item {
    text-align: center;
  }
  .feactures__title {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .feactures__icon {
    margin: auto;
    margin-bottom: 48px;
  }
}

@media (max-width: 400px) {
  .container {
    margin-bottom: 50px;
  }
  .keyboard__text {
    text-align: left;
  }

  .keyboard__img {
    position: relative;
    width: 372px;
    height: 331px;
  }

  .keyboard__images {
    grid-template-columns: 1fr 220px;
    gap: 24px;
    position: relative;
    left: -22px;
    background-position: right;
  }

  .keyboard__phone {
    width: 129px;
  }

  .keyboard__box {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 24px;
  }

  .keyboard__title-bottom {
    max-width: 255px;
  }

  .keyboard__desc-size {
    max-width: 327px;
  }
}
