/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;900&display=swap");

/* VARIABLES CSS */
:root {
  /* Colors */
  --color-orange: #f16718;
  --color-orange-hover: #ff9b62;
  --color-blue: #162542;
  --color-blue-text: #7b8bad;
  --color-grey: #e8eff2;
  --color-white: #ffffff;

  /* Typographya */
  --font-h1: 3.5rem;
  --font-h2: 2rem;
  --font-h3: 1.5rem;
  --font-body: 1rem;

  /* Font weight */
  --fw-medium: 500;
  --fw-black: 900;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
a {
  color: var(--color-blue);
  text-transform: uppercase;
}

a:link,
a:visited {
  text-decoration: none;
}

span {
  text-transform: uppercase;
}

ul {
  list-style: none;
}

body {
  background-color: var(--color-white);
  color: var(--color-blue-text);
  font-family: sans-serif;
  overflow-x: hidden;
}

/* typographya/class reusable */
.font-h1 {
  font: var(--fw-black) var(--font-h1) / 1 "Barlow";
}
.font-h2 {
  font: var(--fw-black) var(--font-h2) / 1.12 "Barlow";
}
.font-h3 {
  font: var(--fw-black) var(--font-h3) / 1.17 "Barlow";
}
.font-body {
  font: var(--fw-medium) var(--font-body) / 1.62 "Barlow";
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 1rem 1.625rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.btn:focus,
.btn-blue:active {
  outline: #68becd dotted 0.188rem;
}

/* Layout */
.grid {
  display: grid;
  gap: 7.813rem;
}

.container {
  max-width: 69.375rem;
  margin: 0 2.5rem;
}

@media (min-width: 72.5rem) {
  .container {
    margin: 0 auto;
  }
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.438rem 0 5.188rem;
}

.btn.btn-blue {
  background-color: var(--color-grey);
  color: var(--color-blue);
}

.btn-blue:hover,
.btn-blue:active {
  background-color: var(--color-blue);
  color: var(--color-white);
}

/* KEYBOARD */
.keyboard {
  margin-bottom: 10.5rem;
}
.keyboard__home {
  grid-template-columns: 1fr auto;
  align-items: end;
  margin-bottom: 1.875rem;
  position: relative;
}

.keyboard__text {
  padding-bottom: 6.75rem;
}

.keyboard__title {
  margin-bottom: 1.5rem;
}

.keyboard__desc {
  font-size: 1.125rem;
  line-height: 1.44;
  margin-bottom: 2.5rem;
}

.btn-box {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  white-space: nowrap;
}

.btn-orange {
  background-color: var(--color-orange);
  color: var(--color-white);
}

.btn-orange:hover,
.btn-orange:active {
  background-color: var(--color-orange-hover);
}

.keyboard__bg {
  width: 33.75rem;
  height: 30rem;
  background: url(../img/desktop/image-keyboard.jpg);
  background-size: cover;
  border-radius: 1.25rem;
}

.keyboard__details {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(calc(100% - (-1.875rem)));
}

.keyboard__intro {
  grid-template-columns: 8fr 4fr;
  align-items: center;
  position: relative;
}

.keyboard__images {
  display: grid;
  grid-template-columns: 3fr 5fr;
  gap: 1.875rem;
  position: relative;
}

.keyboard__phone {
  width: 15.938rem;
  height: 30rem;
  border-radius: 1.25rem;
  background: url(../img/desktop/image-phone-and-keyboard.jpg);
  background-color: #f16718;
  background-blend-mode: multiply;
  background-size: cover;
}

.keyboard__glass {
  width: 27.813rem;
  height: 30rem;
  border-radius: 1.25rem;
  background-image: url(../img/desktop/image-glass-and-keyboard.jpg);
  background-size: cover;
}

.keyboard__title-bottom {
  margin-bottom: 1.688rem;
}

.keyboard__details-rigth {
  position: absolute;
  bottom: 0;
  transform: translate(calc(-100% - 1.875rem));
}

/* FEACTURES */
.feactures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.938rem, 1fr));
  align-items: start;
  justify-items: center;
  gap: 4.5rem 1.875rem;
  margin-bottom: 8rem;
}
.feactures__box {
  width: 4.063rem;
  height: 4.063rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange);
  border-radius: 1rem;
  margin-bottom: 3rem;
}
.feactures__title {
  margin-bottom: 1.5rem;
  max-width: 12.5rem;
}
.feactures__desc {
  max-width: 15.938rem;
}

/* FOOTER */
.copy {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

/* RESPONSIVE */
@media (max-width: 66rem) {
  .keyboard__home,
  .keyboard__intro {
    gap: 4.313rem;
  }

  .keyboard__bg {
    width: 29.875rem;
    height: 26.563rem;
    background-image: url(../img/tablet/image-keyboard.jpg);
  }

  .keyboard__glass {
    width: 100%;
    background-image: url(../img/tablet/image-glass-and-keyboard.jpg);
    background-size: cover;
  }

  .btn-box {
    gap: 2.313rem;
  }

  .keyboard__details,
  .keyboard__details-rigth {
    display: none;
  }
}

@media (max-width: 56.25rem) {
  .header {
    padding: 2.5rem 0 3.875rem;
  }

  .keyboard {
    margin-bottom: 8.875rem;
  }

  .keyboard__home {
    grid-template-columns: 21.188rem 1fr;
    margin-bottom: 2.5rem;
    align-items: center;
  }

  .keyboard__text {
    padding-bottom: 0;
  }

  .keyboard__img {
    width: 29.875rem;
    height: 26.563rem;
  }

  .keyboard__title {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2.313rem;
  }
  .keyboard__desc {
    font-size: 1rem;
    margin-bottom: 2.313rem;
  }

  .keyboard__intro {
    grid-template-columns: auto;
    align-items: center;
    gap: 4.5rem;
    position: relative;
  }

  .keyboard__images {
    grid-template-columns: 13.375rem 1fr;
  }

  .keyboard__phone {
    width: 13.375rem;
    height: 20rem;
    background: url(../img/tablet/image-phone-and-keyboard.jpg),
      linear-gradient(#f16718, #f16718);
    background-size: cover;
  }

  .keyboard__glass {
    height: 20rem;
  }

  .keyboard__box {
    display: grid;
    grid-template-columns: 15.938rem 1fr;
    align-items: center;
    gap: 2.25rem;
  }

  .keyboard__title-bottom {
    margin-bottom: 0;
  }

  .feactures {
    justify-items: start;
    margin-bottom: 8.875rem;
    gap: 4.5rem 0;
  }

  .feactures__icon {
    margin-bottom: 2.5rem;
  }

  .feactures__desc {
    max-width: 18.125rem;
  }
}

@media (max-width: 38.75rem) {
  .container {
    margin: 0 1.5rem;
  }
  .header {
    padding: 1.438rem 0 4rem;
  }
  .btn-blue {
    padding: 0.688rem 0.938rem;
  }

  .keyboard {
    margin-bottom: 6.938rem;
  }

  .keyboard__home {
    grid-template-columns: 1fr;
    gap: 4rem;
    margin-bottom: 2.25rem;
  }
  .keyboard__text {
    text-align: center;
  }
  .keyboard__title,
  .keyboard__desc {
    margin-bottom: 2rem;
  }

  .btn-box {
    gap: 2rem;
    justify-content: center;
  }

  .btn-orange {
    padding: 0.688rem 0.875rem;
  }

  .keyboard__bg {
    width: 100%;
    background-image: url(../img/mobile/image-keyboard.jpg);
  }

  .keyboard__intro {
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 3.938rem;
  }

  .keyboard__images {
    grid-template-columns: 8.125rem 1fr;
    gap: 1.5rem;
  }

  .keyboard__phone {
    width: 100%;
    height: 12.063rem;
    background: url(../img/mobile/image-phone-and-keyboard.jpg),
      linear-gradient(#f16718, #f16718);
    background-size: cover;
  }

  .keyboard__glass {
    width: 100%;
    height: 12.063rem;
    background-image: url(../img/mobile/image-glass-and-keyboard.jpg);
  }

  .keyboard__title-bottom {
    margin-bottom: 0;
  }
  .keyboard__box {
    grid-template-columns: auto;
    gap: 1.5;
    text-align: center;
  }
  .feactures {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .feactures__item {
    text-align: center;
    display: grid;
    justify-items: center;
  }

  .feactures__box {
    text-align: center;
  }

  .feactures__title {
    text-align: center;
    width: 12.5rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }
  .feactures__icon {
    margin: auto;
    margin-bottom: 3rem;
  }
  .copy {
    margin-bottom: 3.125rem;
  }
}

@media (max-width: 25rem) {
  .keyboard__text {
    text-align: left;
  }

  .btn-box {
    justify-content: start;
  }

  .keyboard__bg {
    width: 23.25rem;
    height: 20.688rem;
    background-image: url(../img/mobile/image-keyboard.jpg);
  }

  .keyboard__images {
    grid-template-columns: 1fr 13.75rem;
    gap: 1.5rem;
    position: relative;
    left: -1.375rem;
    background-position: right;
  }

  .keyboard__phone {
    width: 8.063rem;
    height: 12.063rem;
    background: url(../img/mobile/image-phone-and-keyboard.jpg),
      linear-gradient(#f16718, #f16718);
    background-size: cover;
  }

  .keyboard__glass {
    width: 13.75rem;
    height: 12.063rem;
    background-image: url(../img/mobile/image-glass-and-keyboard.jpg);
  }
  .keyboard__box {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1.5rem;
  }

  .keyboard__title-bottom {
    max-width: 15.938rem;
  }

  .keyboard__desc-size {
    max-width: 20.438rem;
  }
}

@media (max-width: 20rem) {
  .container {
    margin: 0 1rem;
  }

  .keyboard__home {
    grid-template-columns: 1fr;
    gap: 2.75rem;
    margin-bottom: 2.25rem;
  }
  .keyboard__text {
    text-align: left;
    margin-right: 0;
  }

  .keyboard__title {
    font-size: 2.25rem;
  }

  .keyboard__desc {
    font-size: 0.875rem;
    max-width: 12.5rem;
  }

  .btn-box {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .keyboard__bg {
    width: 17rem;
    height: 14.438rem;
    background-image: url(../img/mobile/image-keyboard.jpg);
    background-position: center;
  }

  .keyboard__intro {
    gap: 3.938rem;
  }

  .keyboard__images {
    grid-template-columns: 1fr 1fr;
    left: -1rem;
  }

  .keyboard__phone {
    width: 7.938rem;
    height: 12.063rem;
    background: url(../img/mobile/image-phone-and-keyboard.jpg),
      linear-gradient(#f16718, #f16718);
    background-size: cover;
  }

  .keyboard__glass {
    width: 7.938rem;
    height: 12.063rem;
    background-image: url(../img/mobile/image-glass-and-keyboard.jpg);
  }

  .keyboard__title-bottom {
    font-size: 1.75rem;
  }

  .keyboard__desc-size {
    font-size: 0.875rem;
    max-width: 13.75rem;
  }

  .keyboard__box {
    grid-template-columns: auto;
    gap: 1.5rem;
    text-align: center;
  }
  .feactures__desc {
    font-size: 0.875rem;
  }
}
